.icon{
    z-index: 1;
    opacity: 1.0;
    height: 81px;
    width: 81px;

    position: relative;
    top: 5px;
    left: 40%;

}

.description {
    margin-bottom: 55px;
    font-weight: 500;
    font-size: 16px;
    color: #4f5a73;
}

.bg_image {
    z-index: 0;
    opacity: 0.12;

    height: 230px;
    width: 230px;
    max-height: 91px;
    max-width: 91px;

    position: absolute;
    top: 20px;
    left: 35%;

}

.wrap{
    align-self: center;
    text-align: center;
}

.common{
    width: auto;
    padding: 5px;
}

@media screen and (min-width: 576px) {

    .wrap{
        text-align: start;
        width: 160px;
    }

    .icon{
        position: relative;
        top: 5px;
        left: 5px;
    }

    .bg_image{
        position: absolute;
        top: 20px;
        left: -10px;
    }

}
