.loader {
    border: 30px solid #fff;
    border-top: 30px solid #F14D34;
    border-bottom: 30px solid #F14D34;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 4s ease-in-out infinite;
    margin: auto;
    margin-top: 40vh;
    opacity: 1;
}

@keyframes spin {
    0% {
        transform: rotate(-720deg);
    }
    50% {
        transform: rotate(0deg) scale(1.5);
    }
    100% {
        transform: rotate(720deg);
    }
}

.loaderBackdrop {
    z-index: 10000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
}