.globalStyle{
    /*background: rgb(4,6,19);*/
    /*background: linear-gradient(90deg, rgba(4,6,19,1) 0%, rgba(26,27,39,1) 100%);*/

    border-bottom: #333333 2px solid;
}





.button{
    height: 54px;
    border: #F14D34 2px solid;
    background-color: #F14D34;
    color: white;
    font-size: 13px;
}

.button:hover {
    background-color: transparent;
    border: #F14D34 2px solid;
}

.button:active {
    background-color: transparent !important;
    border: #F14D34 2px solid !important;
}






.title{
    font-weight: bold;
    line-height: 1.215;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: white;
}

@media screen and (min-width: 767px) {
    .title {
        font-size: 42px;
        text-align: left;
    }
}

.description {
    line-height: 1.55;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 14px;
    color: rgba(256,256,256,.7);
}

.textWrapper{
    margin-right: auto;
    width: 480px;
    max-width: 100%;
}

.formWrapper{
    margin-left: auto;
    width: 480px;
    max-width: 100%;
}

.rowWrapper{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px){
    .textWrapper {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .formWrapper{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .description, .form{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 565px){
    .description {
        text-align: justify;
    }
}





.telephone{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: white;
    padding-left: 40px;
}

.mailto{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 14px;
    color: white;
    padding-left: 40px;
}

@media screen and (min-width: 767px) {
    .description {
        margin-bottom: 140px;
    }
    .telephone{
        font-size: 32px;
    }
    .mailto{
        font-size: 18px;
    }
}





.captchaPlug{
    height: 74px;
    max-width: 100%;
    margin-bottom: 10px;
}

.mail, .tel{
    height: 36px;
    line-height: 36px;
}

.tel::before{
    content: "";
    width: 16px;
    height: 16px;
    background: url("../../res/images/telephone.svg") no-repeat;
    position: absolute;

    margin-top: 11px;
    margin-left: 16px;

    opacity: 0.8;
}

.mail::before{
    content: "";
    width: 16px;
    height: 16px;
    background: url("../../res/images/envelope.svg") no-repeat;
    position: absolute;

    margin-top: 11px;
    margin-left: 16px;

    opacity: 0.8;
}

.contacts{
    list-style: none;
    padding: 0;
    margin-bottom: 12px;
}


.checkBoxCheck::before{
    background: url("./../../res/images/app.svg") no-repeat;
    background-size: 115%;
    background-position-x: center;
    background-position-y: center;
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    margin-top: -24.5px;
    margin-left: -14.5px;
    transform: scale(1.75);
    opacity: 0.6;

    border-radius: 5px;
}

@keyframes rotating {
    0% {
        transform: scale(1.75);
    }

    50%{
        transform: scale(4) rotateZ(45deg);
    }

    100% {
        transform: scale(1.75) rotateZ(90deg);
    }
}

.checkBoxCheck:hover::before{
    box-shadow: 0px 0px 5px red;
    transform: scale(1.68);
}

.checkBoxCheck:active::before{
    animation: rotating 0.25s;
}

.checkBoxCheck input{
    position: absolute;
    left: 27px;
    bottom: 34px;
    opacity: 0.0;
    transform: scale(2.2);
}

.checkBoxCheck input:checked{
    opacity: 1;
}

.checkBoxCheck{
    position: absolute;
}

.checkBox{
    margin-bottom: 10px;
}

.text{
    text-align: justify;
    margin-left: 36px;
    font-weight: normal;
    line-height: 1.35;
    font-size: 9pt;
    color: white;
}

.dot{
    text-decoration: none;
    color: white !important;
}

.dot::before{
    content: "";
    width: 16px;
    height: 16px;
    background: url("../../res/images/asterisk.svg") no-repeat;
    position: absolute;

    margin-top: -4px;
    margin-left: -2px;
    transform: scale(0.4);
}

.link{
    color: #F14D34 !important;
}



.form{
    width: 480px;
    max-width: 100%;
    margin-left: 0;
}

.formFieldWrap{
    margin: 0;
    padding: 0 0 7px;
}

.formField::placeholder {
    color: white;
}

.formField{
    color: white;
    font-weight: 500;
    line-height: 1.2;
    font-size: 14px;
    border: 1px solid rgba(256,256,256,.3);
    background: transparent;
    border-radius: 5px;
    padding: 26px 24px;
}

.formField:focus {
    color: white;
    background: transparent;
}

.formField:hover {
    background: transparent;
}

.formField:active {
    background: transparent;
}





.bgImg {
    padding-top: 35px;
    padding-bottom: 60px;

    background-repeat: no-repeat;
    background-image: url(../../res/images/new-dr-coder-bg.svg);

    background-position-x: center;
    background-size: 182px;
}

@media (min-width: 576px) {
    .bgImg {
        background-size: 290px;
    }

    .mail, .tel{
        height: 40px;
        line-height: 40px;
    }

    .mail::before{
        margin-top: 15px;
        margin-left: 15px;
    }

    .tel::before{
        margin-top: 15px;
        margin-left: 15px;
    }

    .form{
        margin-left: auto;
    }

}

