.socialNetworkImg {
    width: 30px;
    filter: invert(100%);
}

.footerGlobal {
    background-color: black;
    overflow: hidden;

    background-image: url(../../res/images/drupal-coder-bg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.linksAndText {
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 5vw;
}

.copyRight {
    color: white;
}

.cropped {
    position: relative;
    bottom: -20vw;
    right: -10vw;
}

.cropped img {
    z-index: 2;
    /*margin: 0px -20% -55% 0px;*/
    transform: rotate(-20deg);
    width: 30vw;
}