.footerGlobal {
    overflow: hidden;
    background: rgb(4, 6, 19);
    background: linear-gradient(90deg, rgba(4, 6, 19, 1) 0%, rgba(26, 27, 39, 1) 100%);

    padding-bottom: 5vw;
}

/* xs */
.bgImg {
    background-repeat: no-repeat;
    background-image: url(../../res/images/new-dr-coder-bg.svg);
    background-position: 105% 110%;
    background-size: auto 25vw;

    padding-bottom: 7vw;
    padding-top: 3vw;
}

/* sm 400+ */
@media (min-width: 400px) {
    .bgImg {
        background-position: 103% 100%;

        background-size: auto 24vw;
    }
}

/* sm 480+ */
@media (min-width: 480px) {
    .bgImg {
        background-position: 103% 150%;

        background-size: auto 22vw;
    }
}

/* sm 570+ */
@media (min-width: 570px) {
    .bgImg {
        background-position: 103% 200%;

        background-size: auto 22vw;
    }
}

/* sm-md 670+ */
@media (min-width: 670px) {
    .bgImg {
        background-position: 103% 250%;

        background-size: auto 22vw;
    }

    .footerGlobal {
        padding-bottom: 5vw;
    }
}

/* sm-md 767+ */
@media (min-width: 767px) {
    .bgImg {
        background-position: 103% -30%;

        background-size: auto 20vw;
        padding-bottom: 0;
    }

    .footerGlobal {
        padding-bottom: 0;
    }
}

/* md 892+ */
@media (min-width: 892px) {
    .bgImg {
        background-position: 103% 310%;

        background-size: auto 20vw;
        padding-bottom: 0;
    }

    .footerGlobal {
        padding-bottom: 0;
    }
}

/* md 992+ */
@media (min-width: 992px) {
    .bgImg {
        background-position: 103% -30%;

        background-size: auto 20vw;
        padding-bottom: 0;
    }

    .footerGlobal {
        padding-bottom: 0;
    }

    .socialNetwork {
        margin-right: 10px;
    }
}

/* lg 1200+ */
@media (min-width: 1200px) {
    .bgImg {
        background-position: 103% -40%;

        background-size: auto 20vw;
        padding-bottom: 2vw;
    }

    .footerGlobal {
        padding-bottom: 0;
    }

    .socialNetwork {
        margin-right: 5px;
    }
}

.socialNetwork img {
    width: 30px;
    filter: invert(100%);
}

.socialNetwork {
    margin-right: 10px;
    margin-bottom: 1vw;
    padding: 5px;
    background-color: #F14D34;
    border-radius: 7px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.copyRight {
    color: white;
}