.footerGlobal {
    overflow: hidden;
    background: rgb(4, 6, 19);
    background: linear-gradient(90deg, rgba(4, 6, 19, 1) 0%, rgba(26, 27, 39, 1) 100%);

    padding-bottom: 6vw;
}

.bgImg {
    padding-bottom: 1vw;
    padding-top: 3vw;
    background: url("../../res/images/new-dr-coder-bg.svg") no-repeat right;
    background-size: 40vw;
    background-position-y: 0;
}

@media (min-width: 1200px) {
    .footerGlobal {
        padding-bottom: 0;
    }
    .socialNetwork {
        margin-right: 5px;
    }
}

.socialNetwork img {
    width: 22px;
    filter: invert(100%);
}

.socialNetwork {
    margin-right: 10px;
    margin-bottom: 1vw;
    padding: 5px;
    background-color: #F14D34;
    border-radius: 7px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.copyRight{
    color: white;
    font-size: 8pt;
}

@media (min-width: 767px){

    .footerGlobal{
        padding-bottom: 0px;
    }

    .copyRight {
        font-size: 12pt;
    }

}

@media (max-width: 425px){

    .footerGlobal{
        padding-bottom: 12vw;
    }

}
