.socialNetworkImg {
    width: 30px;
    margin-right: 2vw;
    margin-bottom: 1vw;
    filter: invert(100%);
}

.footerGlobal {
    background-color: black;
    padding-top: 5vw;
    padding-left: 5vw;
}

.linksAndText {
}

.links {
}

.copyRight {
    color: white;
}

.cropped {
    position: relative;
    text-align: right;
    overflow: hidden;
}

.cropped img {
    margin: 0px -3% -15% 0px;
    transform: rotate(-20deg);
    width: 33vw;
}