.icon{
    z-index: 1;
    opacity: 1.0;

    position: relative;

    height: 81px;
    width: 81px;

    top: 5px;
    left: 5px;
}

.description {
    margin-bottom: 55px;
    font-weight: 500;
    font-size: 16px;
    color: #4f5a73;
}

.bg_image {
    z-index: 0;
    opacity: 0.1;

    height: 100px;
    width: 100px;

    position: absolute;
    top: 15px;
    left: -15px;
}

.common{
    padding: 5px;
}