.imgBlockStyle {
    position: relative;
    left: 0;
    bottom: -12%;
    width: 85%;
    max-width: 800px;
    transform: translateY(18%);
}

.titleStyle {
    font-size: 24px;
}

@media (min-width: 768px) {
    .titleStyle {
        font-size: 44px;
    }
    .imgBlockStyle {
        width: 75%;
        transform: translateY(18%);
    }
}

@media (min-width: 992px) {
    .imgBlockStyle {
        position: absolute;
        width: 50%;
        transform: translateY(-15%);
    }
}

@media (min-width: 1200px) {
    .imgBlockStyle {
        transform: translateY(0%);
    }
}