.globalCard {
    border: 3px solid transparent;
    padding: 0px;
}

.cardBody {
    border-left: 3px solid #F14C36;
    border-right: 3px solid #F14C36;
    border-bottom: 3px solid #F14C36;
    padding-top: 5px;
}

.question {
    font-weight: 600;
}