body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dropdown-menu {
  background-color: #F14D34;
  padding: 0;
}

.dropdown-menu:hover {
}

.dropdown-item {
  background-color: #F14D34;
}

.dropdown-toggle:hover {
  color: white;
}

.dropdown-item:hover {
  background-color: red;
}
